# DEPENDENCIES

In [36]:
!pip install spotipy

Requirement already satisfied: spotipy in /usr/local/lib/python3.7/dist-packages (2.19.0)
Requirement already satisfied: six>=1.15.0 in /usr/local/lib/python3.7/dist-packages (from spotipy) (1.15.0)
Requirement already satisfied: urllib3>=1.26.0 in /usr/local/lib/python3.7/dist-packages (from spotipy) (1.26.7)
Requirement already satisfied: requests>=2.25.0 in /usr/local/lib/python3.7/dist-packages (from spotipy) (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2.0.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.0->spotipy) (2.10)

In [37]:
import pandas as pd
import numpy as np
import json
import re 
import sys
import itertools

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

import spotipy
from spotipy.oauth2 import SpotifyClientCredentials
from spotipy.oauth2 import SpotifyOAuth
import spotipy.util as util

import warnings
warnings.filterwarnings("ignore")

# SUMMARY

In [38]:
#from IPython.display import Image
#Image("C:/Users/ishku/OneDrive/Desktop/projects/recommender system/statics/summary.png")

# 1. Data Preparation

In [39]:
spotify_df = pd.read_csv("data.csv")

In [40]:
spotify_df.head()

   acousticness                    artists  ...  valence  year
0      0.991000            ['Mamie Smith']  ...   0.6340  1920
1      0.643000  ["Screamin' Jay Hawkins"]  ...   0.9500  1920
2      0.993000            ['Mamie Smith']  ...   0.6890  1920
3      0.000173        ['Oscar Velazquez']  ...   0.0422  1920
4      0.295000                   ['Mixe']  ...   0.2990  1920

[5 rows x 19 columns]

In [41]:
data_w_genre = pd.read_csv("data_w_genres.csv")

In [42]:
data_w_genre.head()

                                             artists  ...          genres
0                   "Cats" 1981 Original London Cast  ...  ['show tunes']
1                          "Cats" 1983 Broadway Cast  ...              []
2        "Fiddler On The Roof” Motion Picture Chorus  ...              []
3     "Fiddler On The Roof” Motion Picture Orchestra  ...              []
4  "Joseph And The Amazing Technicolor Dreamcoat"...  ...              []

[5 rows x 16 columns]

In [43]:
data_w_genre.dtypes

artists              object
acousticness        float64
danceability        float64
duration_ms         float64
energy              float64
instrumentalness    float64
liveness            float64
loudness            float64
speechiness         float64
tempo               float64
valence             float64
popularity          float64
key                   int64
mode                  int64
count                 int64
genres               object
dtype: object

In [44]:
data_w_genre['genres'].values[0]

"['show tunes']"

In [45]:
data_w_genre['genres_upd'] = data_w_genre['genres'].apply(lambda x: [re.sub(' ','_',i) for i in re.findall(r"'([^']*)'", x)])

In [46]:
type(data_w_genre['genres_upd'].values[0])

list

Step 1. Similar to before, we will need to extract the artists from the string list.

In [47]:
spotify_df['artists_upd_v1'] = spotify_df['artists'].apply(lambda x: re.findall(r"'([^']*)'", x))

In [48]:
spotify_df['artists'].values[0]

"['Mamie Smith']"

In [49]:
type(spotify_df['artists_upd_v1'].values[0])

list

In [50]:
spotify_df[spotify_df['artists_upd_v1'].apply(lambda x: not x)].head(5)

    acousticness                     artists  ...  year  artists_upd_v1
1          0.643   ["Screamin' Jay Hawkins"]  ...  1920              []
34         0.021  ["The Swingin' Bachelors"]  ...  1920              []
36         0.790  ["The Swingin' Bachelors"]  ...  1920              []
46         0.147  ["The Swingin' Bachelors"]  ...  1920              []
47         0.367  ["The Swingin' Bachelors"]  ...  1920              []

[5 rows x 20 columns]

In [51]:
spotify_df['artists_upd_v2'] = spotify_df['artists'].apply(lambda x: re.findall('\"(.*?)\"',x))
spotify_df['artists_upd'] = np.where(spotify_df['artists_upd_v1'].apply(lambda x: not x), spotify_df['artists_upd_v2'], spotify_df['artists_upd_v1'] )

In [52]:
spotify_df['artists_song'] = spotify_df.apply(lambda row: row['artists_upd'][0]+" " + row['name'],axis = 1)

In [53]:
spotify_df.sort_values(['artists_song','release_date'], ascending = False, inplace = True)

In [54]:
spotify_df[spotify_df['name']=='Hello']

        acousticness  ...         artists_song
138035        0.0237  ...            Poe Hello
71560         0.0136  ...          Oasis Hello
157339        0.0339  ...           OMFG Hello
12512         0.4140  ...  Lionel Richie Hello
51034         0.5160  ...  Lionel Richie Hello
76768         0.4650  ...        KAROL G Hello
76774         0.4650  ...        KAROL G Hello
76780         0.4650  ...        KAROL G Hello
76782         0.4650  ...        KAROL G Hello
93886         0.4650  ...        KAROL G Hello
93930         0.4650  ...        KAROL G Hello
93934         0.4650  ...        KAROL G Hello
93950         0.4650  ...        KAROL G Hello
92762         0.0771  ...        J. Cole Hello
54384         0.1550  ...       Ice Cube Hello
73174         0.9120  ...    Evanescence Hello
38280         0.3300  ...          Adele Hello

[17 rows x 23 columns]

In [55]:
spotify_df.drop_duplicates('artists_song',inplace = True)

In [56]:
spotify_df[spotify_df['name']=='Hello']

        acousticness  ...         artists_song
138035        0.0237  ...            Poe Hello
71560         0.0136  ...          Oasis Hello
157339        0.0339  ...           OMFG Hello
12512         0.4140  ...  Lionel Richie Hello
76768         0.4650  ...        KAROL G Hello
92762         0.0771  ...        J. Cole Hello
54384         0.1550  ...       Ice Cube Hello
73174         0.9120  ...    Evanescence Hello
38280         0.3300  ...          Adele Hello

[9 rows x 23 columns]

In [57]:
artists_exploded = spotify_df[['artists_upd','id']].explode('artists_upd')

In [58]:
artists_exploded

            artists_upd                      id
167865              조정현  2ghebdwe2pNXT4eL34T7pW
173888              김효근  6ra76urfo3pTD050opXTZS
173888     Quinever 퀸에버  6ra76urfo3pTD050opXTZS
166711              김수철  4FG1uHQAVPsYiXIn3tcGRs
75703               龔詩嘉  2w5L5kQVkSRdduNewYPDA5
...                 ...                     ...
105296   Cru", "Michel   3hoiinUc5VA9xUEJID7R8V
71705          Choir",   7GaUNnAdIMXrvYG7673QIK
139006         4-Tay",   0CHKRuAjf8LvCL6SxCnq7V
154041         4-Tay",   78859Af0fmA9VTlgnOHTAP
154041               ,   78859Af0fmA9VTlgnOHTAP

[211470 rows x 2 columns]

In [59]:
artists_exploded_enriched = artists_exploded.merge(data_w_genre, how = 'left', left_on = 'artists_upd',right_on = 'artists')
artists_exploded_enriched_nonnull = artists_exploded_enriched[~artists_exploded_enriched.genres_upd.isnull()]

In [60]:
artists_exploded_enriched_nonnull[artists_exploded_enriched_nonnull['artists'] =='Adele']

       artists_upd  ...                   genres_upd
173477       Adele  ...  [british_soul, pop, uk_pop]
208568       Adele  ...  [british_soul, pop, uk_pop]
208569       Adele  ...  [british_soul, pop, uk_pop]
208570       Adele  ...  [british_soul, pop, uk_pop]
208571       Adele  ...  [british_soul, pop, uk_pop]
208572       Adele  ...  [british_soul, pop, uk_pop]
208573       Adele  ...  [british_soul, pop, uk_pop]
208574       Adele  ...  [british_soul, pop, uk_pop]
208575       Adele  ...  [british_soul, pop, uk_pop]
208576       Adele  ...  [british_soul, pop, uk_pop]
208577       Adele  ...  [british_soul, pop, uk_pop]
208578       Adele  ...  [british_soul, pop, uk_pop]
208579       Adele  ...  [british_soul, pop, uk_pop]
208580       Adele  ...  [british_soul, pop, uk_pop]
208581       Adele  ...  [british_soul, pop, uk_pop]
208582       Adele  ...  [british_soul, pop, uk_pop]
208583       Adele  ...  [british_soul, pop, uk_pop]
208584       Adele  ...  [british_soul, pop, uk_pop]
208585       Adele  ...  [british_soul, pop, uk_pop]
208586       Adele  ...  [british_soul, pop, uk_pop]
208587       Adele  ...  [british_soul, pop, uk_pop]
208588       Adele  ...  [british_soul, pop, uk_pop]
208589       Adele  ...  [british_soul, pop, uk_pop]
208590       Adele  ...  [british_soul, pop, uk_pop]
208591       Adele  ...  [british_soul, pop, uk_pop]
208592       Adele  ...  [british_soul, pop, uk_pop]
208593       Adele  ...  [british_soul, pop, uk_pop]
208594       Adele  ...  [british_soul, pop, uk_pop]
208595       Adele  ...  [british_soul, pop, uk_pop]

[29 rows x 19 columns]

In [61]:
artists_genres_consolidated = artists_exploded_enriched_nonnull.groupby('id')['genres_upd'].apply(list).reset_index()

In [62]:
artists_genres_consolidated['consolidates_genre_lists'] = artists_genres_consolidated['genres_upd'].apply(lambda x: list(set(list(itertools.chain.from_iterable(x)))))

In [63]:
artists_genres_consolidated

                            id  ...                           consolidates_genre_lists
0       000G1xMMuwxNHmwVsBdtj1  ...  [new_wave, candy_pop, dance_rock, rock, new_wa...
1       000Npgk5e2SgwGaIsN3ztv  ...  [sufi, ghazal, classic_pakistani_pop, classic_...
2       000ZxLGm7jDlWCHtcXSeBe  ...      [boogie-woogie, stride, ragtime, piano_blues]
3       000jBcNljWTnyjB4YO7ojf  ...                                                 []
4       000mGrJNc2GAgQdMESdgEc  ...  [classical, historic_orchestral_performance, o...
...                        ...  ...                                                ...
139532  7zxiwcqLQyWcLdThrsYklu  ...  [adult_standards, big_band, bebop, lounge, voc...
139533  7zxmX2NsbCBNlqHBmkyWxs  ...  [bebop, contemporary_post-bop, jazz, soul_jazz...
139534  7zzbPkvxJ6iANIxcSz60rm  ...  [adult_standards, lounge, vocal_jazz, jazz, co...
139535  7zzbfi8fvHe6hm342GcNYl  ...  [blues_rock, folk_rock, jam_band, country_rock...
139536  7zzuPsjj9L3M7ikqGmjN0D  ...  [soft_rock, folk_rock, country_rock, mellow_go...

[139537 rows x 3 columns]

In [64]:
spotify_df = spotify_df.merge(artists_genres_consolidated[['id','consolidates_genre_lists']], on = 'id',how = 'left')

In [65]:
spotify_df.head()

   acousticness  ...             consolidates_genre_lists
0         0.568  ...                                  NaN
1         0.939  ...                                  NaN
2         0.509  ...                                  NaN
3         0.134  ...                                  NaN
4         0.381  ...  [chinese_indie, chinese_indie_rock]

[5 rows x 24 columns]

# 2. FEATURE ENGINEERING
- Normalize float variables
- OHE Year and Popularity Variables
- Create TF-IDF features off of artist genres

In [66]:
spotify_df.tail()

        acousticness  ... consolidates_genre_lists
158279        0.0248  ...                      NaN
158280        0.0249  ...                      NaN
158281        0.9940  ...                      NaN
158282        0.0421  ...                      NaN
158283        0.0113  ...                      NaN

[5 rows x 24 columns]

In [67]:
spotify_df['year'] = spotify_df['release_date'].apply(lambda x: x.split('-')[0])

In [68]:
float_cols = spotify_df.dtypes[spotify_df.dtypes == 'float64'].index.values

In [69]:
ohe_cols = 'popularity'

In [70]:
spotify_df['popularity'].describe()

count    158284.000000
mean         25.765175
std          21.732005
min           0.000000
25%           1.000000
50%          26.000000
75%          42.000000
max         100.000000
Name: popularity, dtype: float64

In [71]:
# create 5 point buckets for popularity 
spotify_df['popularity_red'] = spotify_df['popularity'].apply(lambda x: int(x/5))

In [72]:
# tfidf can't handle nulls so fill any null values with an empty list
spotify_df['consolidates_genre_lists'] = spotify_df['consolidates_genre_lists'].apply(lambda d: d if isinstance(d, list) else [])

In [73]:
spotify_df.head()

   acousticness  ... popularity_red
0         0.568  ...              6
1         0.939  ...              0
2         0.509  ...              4
3         0.134  ...              3
4         0.381  ...              6

[5 rows x 25 columns]

In [74]:
#simple function to create OHE features
#this gets passed later on
def ohe_prep(df, column, new_name): 
    """ 
    Create One Hot Encoded features of a specific column

    Parameters: 
        df (pandas dataframe): Spotify Dataframe
        column (str): Column to be processed
        new_name (str): new column name to be used
        
    Returns: 
        tf_df: One hot encoded features 
    """
    
    tf_df = pd.get_dummies(df[column])
    feature_names = tf_df.columns
    tf_df.columns = [new_name + "|" + str(i) for i in feature_names]
    tf_df.reset_index(drop = True, inplace = True)    
    return tf_df

In [75]:
#function to build entire feature set
def create_feature_set(df, float_cols):
    """ 
    Process spotify df to create a final set of features that will be used to generate recommendations

    Parameters: 
        df (pandas dataframe): Spotify Dataframe
        float_cols (list(str)): List of float columns that will be scaled 
        
    Returns: 
        final: final set of features 
    """
    
    #tfidf genre lists
    tfidf = TfidfVectorizer()
    tfidf_matrix =  tfidf.fit_transform(df['consolidates_genre_lists'].apply(lambda x: " ".join(x)))
    genre_df = pd.DataFrame(tfidf_matrix.toarray())
    genre_df.columns = ['genre' + "|" + i for i in tfidf.get_feature_names()]
    genre_df.reset_index(drop = True, inplace=True)

    #explicity_ohe = ohe_prep(df, 'explicit','exp')    
    year_ohe = ohe_prep(df, 'year','year') * 0.5
    popularity_ohe = ohe_prep(df, 'popularity_red','pop') * 0.15

    #scale float columns
    floats = df[float_cols].reset_index(drop = True)
    scaler = MinMaxScaler()
    floats_scaled = pd.DataFrame(scaler.fit_transform(floats), columns = floats.columns) * 0.2

    #concanenate all features
    final = pd.concat([genre_df, floats_scaled, popularity_ohe, year_ohe], axis = 1)
     
    #add song id
    final['id']=df['id'].values
    
    return final

In [76]:
complete_feature_set = create_feature_set(spotify_df, float_cols=float_cols)#.mean(axis = 0)

In [77]:
complete_feature_set.head()

   genre|432hz  genre|_hip_hop  ...  year|2021                      id
0          0.0             0.0  ...        0.0  2ghebdwe2pNXT4eL34T7pW
1          0.0             0.0  ...        0.0  6ra76urfo3pTD050opXTZS
2          0.0             0.0  ...        0.0  4FG1uHQAVPsYiXIn3tcGRs
3          0.0             0.0  ...        0.0  2w5L5kQVkSRdduNewYPDA5
4          0.0             0.0  ...        0.0  3KIuCzckjdeeVuswPo20mC

[5 rows x 2552 columns]

# 3. Connect To Spotify API

In [78]:
client_id = '85b78072ce59404892faa25eac54f7bd'
client_secret= '96691d10b1844530bacbccdf7b8d2641'

In [79]:
scope = 'user-library-read'

if len(sys.argv) > 1:
    username = sys.argv[1]
else:
    print("Usage: %s username" % (sys.argv[0],))
    sys.exit()

In [80]:
auth_manager = SpotifyClientCredentials(client_id=client_id, client_secret=client_secret)
sp = spotipy.Spotify(auth_manager=auth_manager)

In [83]:
token = util.prompt_for_user_token(scope, client_id= client_id, client_secret=client_secret, redirect_uri='http://localhost:8881/')

OSError: ignored

In [ ]:
sp = spotipy.Spotify(auth=token)

In [ ]:
#gather playlist names and images. 
#images aren't going to be used until I start building a UI
id_name = {}
list_photo = {}
for i in sp.current_user_playlists()['items']:

    id_name[i['name']] = i['uri'].split(':')[2]
    list_photo[i['uri'].split(':')[2]] = i['images'][0]['url']

In [ ]:
id_name